@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  scroll-behavior: none;
}
/* page css */
.page1{
  padding-bottom:3rem ;
  min-height: 130vh;
  background-image: linear-gradient(to bottom right, rgb(180, 255, 210) , rgb(239, 253, 232) ,rgb(239, 253, 232) ,rgb(239, 253, 232) ,  rgb(180, 255, 210));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.restCompo1{
  margin-top: 10rem;
}
.page2{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 3rem 0rem 3rem;
  background: rgba(249, 248, 254, 1);

}
.page3{
  padding: 0rem 3rem 0rem 3rem;
  height: 100vh;
  background-image: linear-gradient(to top right, rgb(255, 240, 240) , rgb(255, 255, 255) ,rgb(255, 255, 255) ,rgb(255, 255, 255) ,  rgb(255, 255, 255));
}
.page4{
  background-image: linear-gradient(to bottom right, rgb(255, 240, 240) , rgb(255, 255, 255) ,rgb(255, 255, 255) ,rgb(229, 255, 239) ,  rgb(210, 255, 228));
  min-height: 70vh;
  padding: 2rem;
}
.page5{
  background-image: linear-gradient(to top right, rgb(255, 255, 255) , rgb(255, 255, 255) ,rgb(255, 255, 255) ,rgb(229, 255, 239) ,  rgb(210, 255, 228));
}
.footer{
  height: 140vh;
  background-color: black;
}


/* media query */
/* big pc screen */

@media screen and (min-height:799px) 
{
  
  .page1{
    min-height: 100vh;
  }
  .page2{
    height: 65vh;
  }
  .page3{
    height: 75vh;
  }
  .page4{
    height: 60vh;
  }
  .page5{
    height: 85vh;
  }
  .chooseCard{
    height: 43vh;
  }
  .chooseKeyPoint{
    background-color: red;
  }
  .footer{
    height: 110vh;
  }
  .fcard{
    padding: 0rem;
  }
}

/* mobile */

@media screen and (max-width:687px) {
  body::-webkit-scrollbar{
      display: none;
  }
  .restCompo1{
      display: none;
  }
  nav{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
  }
}
